{% load static %}

{% block footer %}
<footer id="contact" class="py-10 md:py-16 mb-20 md:mb-40 lg::mb-52">

    <div class="background-animation">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="text-center">
            <h1 class="font-medium text-customcolor4 text-4xl md:text-5xl mb-5">Contact Me!</h1>

            <p class="font-normal text-customcolor2 text-md md:text-lg mb-20">I’m not currently taking on new client
                work but feel free to contact me for any <br> other inquiries.</p>

            <div class="flex items-center justify-center space-x-8">

                <a href="https://www.facebook.com/akositekong03" target="_blank"
                   class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">

                    <ion-icon size="large" name="logo-facebook"></ion-icon>

                </a>

                <a href="https://www.instagram.com/bites_za__dustooo/" target="_blank> class=" w-16 h-16 flex
                   items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">

                <ion-icon size="large" name="logo-instagram"></ion-icon>

                </a>

                <a href="https://www.linkedin.com/in/karluwu-sea-37593b323/" target="_blank"
                   class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">

                    <ion-icon size="large" name="logo-linkedin"></ion-icon>

                </a>

                <a href="https://github.com/Dumgrammer" target="_blank"
                   class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">

                    <ion-icon size="large" name="logo-github"></ion-icon>

                </a>

            </div>

        </div>

    </div>

</footer>

{% endblock %}