{% extends 'pages/index.html' %}

{% load static %}

{% block content %}

<section id="education" class="py-10 md:py-16">

    <div class="background-animation">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-customcolor4 text-3xl md:text-4xl mb-5">Education</h1>

        <p class="font-normal text-customcolor3 text-xs md:text-base mb-20">Below is a summary of the places I
            studied</p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-customcolor4 text-lg mb-4">2009 – 2011</h4>

                <p class="font-normal text-customcolor3 text-md mb-4">Felipe Calderon Elementary School</p>

                <div class="relative">
                    <h6 class="font-semibold text-customcolor3 text-md relative z-10"><a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">See the place here</a>
                    </h6>
                </div>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-customcolor4 text-lg mb-4">2011 – 2013</h4>

                <p class="font-normal text-customcolor3 text-md mb-4">Caalibangbangan Elementary School.</p>

                <div class="relative">
                    <h6 class="font-semibold text-customcolor3 text-md relative z-10"><a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">See the place here</a>
                    </h6>
                </div>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-customcolor4 text-lg mb-4">2013 – 2014</h4>

                <p class="font-normal text-customcolor3 text-md mb-4">Hermosa Elementary School.</p>

                <div class="relative">
                    <h6 class="font-semibold text-customcolor3 text-md relative z-10"><a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">See the place here</a>
                    </h6>
                </div>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-customcolor4 text-lg mb-4">2014 – 2020</h4>

                <p class="font-normal text-customcolor3 text-md mb-4">Hanjin Integrated School.</p>

                <div class="relative">
                    <h6 class="font-semibold text-customcolor3 text-md relative z-10"><a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">See the place here</a>
                    </h6>
                </div>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-customcolor4 text-lg mb-4">2020 – 2021</h4>

                <p class="font-normal text-customcolor3 text-md mb-4">Saint Nicholas Academy.</p>

                <div class="relative">
                    <h6 class="font-semibold text-customcolor3 text-md relative z-10"><a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">See the place here</a>
                    </h6>
                </div>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-customcolor4 text-lg mb-4">2021 – Current</h4>

                <p class="font-normal text-customcolor3 text-md mb-4">Gordon College.</p>

                <div class="relative">
                    <h6 class="font-semibold text-customcolor3 text-md relative z-10"><a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">See the place here</a>
                    </h6>
                </div>
            </div>
        </div>

    </div>

</section>

<section id="experience" class="py-10 md:py-16">

    <div class="background-animation">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-customcolor4 text-3xl md:text-4xl mb-5">Experience</h1>

        <p class="font-normal text-customcolor3 text-xs md:text-base mb-20">Below is a summary of the places where I
            gained Experience</p>

        <div class="flex flex-col lg:flex-row justify-between">

            <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">

                <h6 class="font-medium text-customcolor2 text-base uppercase">Place</h6>

                <p class="font-semibold text-customcolor3 text-base">Gordon College <span
                        class="font-normal text-customcolor2">/ Olongapo City</span></p>

                <p class="font-semibold text-customcolor3 text-base">Comelec <span
                        class="font-normal text-customcolor2">/ Olongapo City</span></p>

                <p class="font-semibold text-customcolor3 text-base">Hack4Gov <span
                        class="font-normal text-customcolor2">/ DICT</span></p>

            </div>

            <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                <h6 class="font-medium text-customcolor2 text-base uppercase">Position</h6>

                <p class="font-normal text-customcolor2 text-base">Student Researcher</p>

                <p class="font-normal text-customcolor2 text-base">On the Job Trainee</p>

                <p class="font-normal text-customcolor2 text-base">Participant</p>

            </div>

            <div class="space-y-8 md:space-y-16">
                <h6 class="font-medium text-customcolor2 text-base uppercase">Year</h6>

                <p class="font-normal text-customcolor2 text-base">2021 - Current</p>

                <p class="font-normal text-customcolor2 text-base">2022</p>

                <p class="font-normal text-customcolor2 text-base">2023 & 2024</p>

            </div>
        </div>

    </div>

</section>

<section id="achievements" class="py-10 md:py-16">

    <div class="background-animation">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-customcolor4 text-3xl md:text-4xl mb-5">Achievements</h1>

        <p class="font-normal text-customcolor3 text-xs md:text-base mb-10 md:mb-20">Below is a summary of my
            achievements</p>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/LMS.jpg" alt="LMS Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Olongapocom.png" alt="Olongapocom Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Swiftcart.png" alt="Swiftcart Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/GCACO.png" alt="GCACO Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Chatme.png" alt="Chatme Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Pbp.png" alt="Pbp Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">


                <img src="../assets/image/Pip.png" alt="Pip Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Bswp.png" alt="Bswp Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Adp.png" alt="Adp Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/Vdp.png" alt="Vdp Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/hack4gov.jpg" alt="Hack4Gov Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

            <div class="aspect-w-1 aspect-h-1">

                <img src="../assets/image/hack4gov3.jpg" alt="Hack4Gov3 Image"
                     class="w-full h-full object-cover rounded-lg shadow-lg hover:scale-110">

            </div>

        </div>

    </div>

</section>

{% endblock %}